<div class="container-fluid" style="margin-left:100px;">

    <h1><%= 'Items Page' %></h1>

    <%= form_tag "test", method: "post" do %>

    <br/>

    <%= link_to "Back to Profile", home_index_path, type: "button", action: "", class: "btn btn-secondary" %>

    <% end %>

</div>